/* CSS Document */
h1{
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#00CCFF;
	font-size:24px;
	}
	
li{
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:16px;
	}

a {
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:16px;
	}

h3 {
	font:Verdana, Arial, Helvetica, sans-serif;
	color:#00CCFF;
	font-size:18px;
	}
	