/* CSS Document */
h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#00CCFF;
	font-size:38px;	
	}
	
li{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:15px;
	}

a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:24px;
	}

h3 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#00CCFF;
	font-size:30px;
	}
	
div.bg {
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	height: 150%;
	margin-top:-30px;
	margin-bottom:auto;
	background-image:url(Chargers_Horse.png);
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	background-color: #737373;
	z-index:-1;
	padding-bottom:50px;
	}
	
div.title {
	z-index:1;
	background-color:rgba(0,0,120,0.5);
	margin-left:-25px;
	margin-right:-25px;
	}
	
	
body {
	background-color: #475E98;
	}
	
	